main{
    min-height: 300px;
    margin-left: 3em;
    padding-top: 3em;
    width: 560px;
}

.top {
    background-color: palegoldenrod;
    height: 100px;
    padding-bottom: 1px;
    justify-content: space-around;
    font-size: 30px;
    align-items: center;
    display: flex;
}

#some {
    font-weight: bold;
}

#three {
    font-size: 15px;
}

.container {
    height: 150px;
    background-color: lightblue;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 16px;
    
}

